
<h1>My Parking</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container mb-3">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


    <% @parkings.each.first(30) do |parking| %>
      <% if parking.rented? == false %>
        <ul>
        <li><%= parking.name %></li>
        <li><%= parking.address %></li>
        <li><%= parking.description %></li>
        <li><%= parking.price_per_day %></li>
        </ul>
      <% end %>
    <% end %>
